<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="home"></ion-icon>
      Reacting House
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quarto</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="bulb-outline" slot="start"></ion-icon>
      <ion-label>ILUMINÇÃO</ion-label>
      <ion-toggle color="primary" [(ngModel)]="lampada" #lamp (click)="onClickLampada(lamp.checked)"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="snow-outline" slot="start"></ion-icon>
      <ion-label>VENTILADOR</ion-label>
      <ion-toggle color="primary" [(ngModel)]="ventilador" #fan (ionChange)="changeVentilador(fan.checked)"></ion-toggle>
    </ion-item>
  </ion-card>